.task{
  /*margin-right: 15px;*/
  margin-bottom: 15px;
  position: relative;
}

.task__top{
  display: flex;
  align-items: center;
}

.task__btn{
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.task__name, .task__user, .task__date{
  min-width: 50px;
  max-width: 100%;
  margin-left: 6px;
}

.task__checkbox{
	margin-left: auto;
	margin-right: 16px;
	background-color: #FFFFFF;
	border: 2px solid #C4C4C4;
	border-radius: 3px;
	width: 15px;
	height: 15px;
}

.task__completed-true ~ .task__top .task__checkbox{
	background-color: #3C84F0;
	border-color: #3C84F0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' viewBox='0 0 11 8' fill='none'%3E%3Cpath d='M1.75 3.96875L4.5625 6.78125L9.25 1.15625' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 30% 40%;
}

.task__date input{
	outline: none;
	border: none;
	background: transparent;
}

.task__btn:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #4f4f4f;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.task__trigger-block, .task__id-block, .task__date span{
  display: none;
}

.task__trigger-block.task__trigger-block--hidden ~ .task__description{
  display: none;
}

.task__trigger-block.task__trigger-block--hidden ~ .task__top .task__btn{
  transform: rotate(-90deg);
}

